.footer__column-link {
	transition: opacity .1s linear;
	text-decoration: none;
	line-height: 30px;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
  }
.footer__column-link:hover{
	opacity: .5;
  }