.kaufman {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 90px 0;
	background-color: #1f1f1f;
	color: #ffffff;
	text-align: center;
  }
