@import url(../blocks/header/header.css);
@import url(../blocks/header/logo/_place_header/logo_place_header.css);
@import url(../blocks/header/__title/title.css);
@import url(../blocks/header/__subtitle/subtitle.css);
@import url(../blocks/header/__main-illustration/main-illustration.css);
@import url(../blocks/header/rotation/rotation.css);
@import url(../blocks/header/__square-pic/square-pic.css);
@import url(../blocks/header/__link/link.css);
@import url(../blocks/content/description/description.css);
@import url(../blocks/content/description/two-columns/__brief/brief.css);
@import url(../blocks/content/description/two-columns/__main-text/main-text.css);
@import url(../blocks/content/description/two-columns/__paragraph/paragraph.css);
@import url(../blocks/content/description/two-columns/__span-accent/span-accent.css);
@import url(../blocks/content/techniques/techniques.css);
@import url(../blocks/content/techniques/section-title/section-title.css);
@import url(../blocks/content/techniques/section-subtitle/section-subtitle.css);
@import url(../blocks/content/techniques/cards/cards.css);
@import url(../blocks/content/techniques/cards/__item/cards__item.css);
@import url(../blocks/content/techniques/cards/__image/cards__image.css);
@import url(../blocks/content/techniques/cards/__title/cards__title.css);
@import url(../blocks/content/techniques/cards/__description/cards__description.css);
@import url(../blocks/content/video/video.css);
@import url(../blocks/content/video/__iframes/video__iframes.css);
@import url(../blocks/content/video/__iframes/__iframe/video__iframe.css);
@import url(../blocks/content/oakley/oakley.css);
@import url(../blocks/content/oakley/two-columns/two-columns.css);
@import url(../blocks/content/oakley/two-columns/__brief/brief.css);
@import url(../blocks/content/oakley/two-columns/__main-text/main-text.css);
@import url(../blocks/content/oakley/two-columns/__main-text/main-text.css);
@import url(../blocks/content/feynman/feynman.css);
@import url(../blocks/content/feynman/__title/feynman__title.css);
@import url(../blocks/content/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/content/feynman/__link/feynman__link.css);
@import url(../blocks/content/feynman/__background/feynman__background.css);
@import url(../blocks/content/digits/digits.css);
@import url(../blocks/content/digits/table/__cell/table__cell.css);
@import url(../blocks/content/digits/table/__heading/table__heading.css);
@import url(../blocks/content/digits/table/__text/table__text.css);
@import url(../blocks/content/khan/khan.css);
@import url(../blocks/content/khan/__container/khan__container.css);
@import url(../blocks/content/khan/__author/khan__author.css);
@import url(../blocks/content/khan/__title/khan__title.css);
@import url(../blocks/content/khan/__qoute/khan__quote.css);
@import url(../blocks/content/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/content/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/content/khan/__book-container/khan__book-container.css);
@import url(../blocks/content/khan/__book-pic/khan__book-pic.css);
@import url(../blocks/content/khan/__buy-link/khan__buy-link.css);
@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/content/kaufman/section-title/_theme_dark/section-title_theme_dark.css);
@import url(../blocks/content/kaufman/section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(../blocks/content/kaufman/table/table.css);
@import url(../blocks/content/kaufman/table/_theme_dark/table_theme_dark.css);
@import url(../blocks/content/kaufman/table/__cell/table__cell.css);
@import url(../blocks/content/kaufman/table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(../blocks/content/kaufman/table/__heading/table__heading.css);
@import url(../blocks/content/kaufman/table/__heading/_theme_dark/table__heading_theme_dark.css);
@import url(../blocks/content/kaufman/table/__text/table__text.css);
@import url(../blocks/content/kaufman/__triangle/kaufman__triangle.css);
@import url(../blocks/content/resources/resources.css);
@import url(../blocks/content/resources/__logo-zone/resources__logo-zone.css);
@import url(../blocks/content/resources/__link/resources__link.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__columns/_content_copyright/footer__column_content_copyright.css);
@import url(../blocks/footer/__columns/_content_info/footer__column_content_info.css);
@import url(../blocks/footer/__columns/_content_social/footer__column_content_social.css);
@import url(../blocks/footer/logo/_place_footer/logo_place_footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);

@import url(../blocks/content/techniques/cards/no-right-margin/no-right-margin.css);
