.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  object-fit: cover;
  height: 608px;
  width: 765px;
  z-index: -1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -2;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  direction: column;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 100px 0 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: start;
  width: 1100px;
  list-style-type: none;
  margin: 0 0 100px 0;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
  z-index: 1;
}

.feynman__title {
  display: flex;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  display: flex;
  align-self: center;
  margin-top: 70px;
  margin-bottom: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
  z-index: -1;
}

.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}

.section-title_theme_dark {
  width: 60%;
  margin: 90px auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table_theme_dark {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: start;
  width: 1100px;
  list-style-type: none;
  margin: 0 0 90px 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.kaufman__triangle {
  background-image: url(/Users/den/Desktop/div/how-to-learn/images/kaufman-triangle.svg);
  position: absolute;
  top: 0px;
  background-size: cover;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 350px;
  margin: 0;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color: #ffffff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 32px;
  width: 228px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style-type: none;
}

.footer__social-links {
  margin: 20px 0 16px 0;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
